<div class="favorites-container">
  <h2>A Minha Lista de Jogadores ⭐</h2>

  <div class="favorites-grid">
    @for (fav of favorites; track fav.id) {
      <div class="favorite-item" (click)="card.openModal()" tabindex="0" (keydown.enter)="card.openModal()">
        
        <app-player-card #card [player]="{ 
            id: fav.playerId, 
            name: fav.playerName, 
            photo: fav.playerPhoto
          }">
        </app-player-card>
        
        <button class="btn-remove" (click)="$event.stopPropagation(); removeFavorite(fav.id)">
          ❌ Remover
        </button>

p      </div>
    }
  </div>
</div>