<div class="comparison-container">
  <div class="header-section">
    <h2>A Arena de Elite ⚖️</h2>
    <p>Compara estatísticas reais para decidir o vencedor.</p>
  </div>

  <div class="arena">
    <div class="player-slot">
      @if (player1) {
        <app-player-card [player]="player1"></app-player-card>
      } @else {
        <div class="slot-overlay">
          <div class="pulse-icon">👤</div>
          <p>Aguardando Craque 1...</p>
        </div>
      }
    </div>

    <div class="vs-center">
  <div class="vs-circle">
    <span class="vs-text">VS</span>
  </div>
  <button class="btn-save-comparison" (click)="openDuelo()">
  📊 Analisar Duelo
</button>
</div>


    <div class="player-slot">
      @if (player2) {
        <app-player-card [player]="player2"></app-player-card>
      } @else {
        <div class="slot-overlay">
          <div class="pulse-icon">👤</div>
          <p>Aguardando Craque 2...</p>
        </div>
      }
    </div>
  </div>
</div>

@if (showModal) {
  <div class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h2 class="modal-title">Estatísticas do Duelo ⚔️</h2>

      <div class="stats-container">
        <div class="stat-column">
          <img [src]="player1?.photo" alt="Foto J1" class="modal-photo">
          <h3>{{ player1?.name }}</h3>
          <p>⚽ Golos: <strong>{{ player1?.goals ?? '...' }}</strong></p>
          <p>👟 Assistências: <strong>{{ player1?.assists ?? '...' }}</strong></p>
          <p>⏱️ Minutos: <strong>{{ player1?.minutes ?? '...' }}</strong></p>
          <p>🟨 Amarelos: <strong>{{ player1?.yellowCards ?? '...' }}</strong></p>
          <p>🟥 Vermelhos: <strong>{{ player1?.redCards ?? '...' }}</strong></p>
          <p>⭐ Rating: <strong>{{ player1?.rating ?? '...' }}</strong></p>
          <button class="btn-winner" (click)="chooseWinner(player1!)">🏆 Coroar Vencedor</button>
        </div>

        <div class="vs-divider-modal">VS</div>

        <div class="stat-column">
          <img [src]="player2?.photo" alt="Foto J2" class="modal-photo">
          <h3>{{ player2?.name }}</h3>
          <p>⚽ Golos: <strong>{{ player2?.goals ?? '...' }}</strong></p>
          <p>👟 Assistências: <strong>{{ player2?.assists ?? '...' }}</strong></p>
          <p>⏱️ Minutos: <strong>{{ player2?.minutes ?? '...' }}</strong></p>
          <p>🟨 Amarelos: <strong>{{ player2?.yellowCards ?? '...' }}</strong></p>
          <p>🟥 Vermelhos: <strong>{{ player2?.redCards ?? '...' }}</strong></p>
          <p>⭐ Rating: <strong>{{ player2?.rating ?? '...' }}</strong></p>
          <button class="btn-winner" (click)="chooseWinner(player2!)">🏆 Coroar Vencedor</button>
        </div>
      </div>

      <button class="btn-close" (click)="closeModal()">Fechar Arena</button>
    </div>
  </div>
}