<div class="search-container">
  <h2>Plantel do Arsenal</h2>
  
  <div class="search-bar">
    <button (click)="onSearch()">Carregar Plantel Completo</button>
  </div>

  <div class="results">
    @for (player of players; track player.id) {
      <div class="match-card" style="display: flex; gap: 15px; text-align: left;">
        
        @if (player.photo) {
          <img [src]="player.photo" alt="Foto" width="80" style="border-radius: 8px;">
        }
        
        <div class="info">
          <p style="margin: 0;"><strong>Nome:</strong> {{ player.name }}</p>
          <p style="margin: 5px 0;"><strong>Idade:</strong> {{ player.age }} anos</p>
          <p style="margin: 0;"><strong>Posição:</strong> {{ player.position }}</p>
        </div>
      </div>
    } @empty {
      <p>Nenhum jogador carregado. Clica no botão.</p>
    }
  </div>
</div>